/* ===============================
   1. Importação de fontes externas
============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

/* ===============================
   2. Definições de variáveis e cores
============================== */
:root {
    --primary-color: #8e2634; /* Cor principal do site */
    --primary-dark: #1F252E;  /* Cor escura para o modo dark */
}

/* 
   3. Estilos gerais para todos os elementos
 */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Rolagem suave */
}
.mode input {
    display: none; /* Esconde o botão de mudança para modo escuro */
}
/* ===============================
   4. Estilo do corpo da página
============================== */
body {
    font-family: 'Outfit', sans-serif; /* Fonte padrão */
    background: #ffffff;
    color: #000;
    display: flex;
    justify-content: center;
    height: 100vh; /* Altura da página */
}

/* ===============================
   5. Estilos para o cabeçalho
============================== */
header {
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Área dentro do cabeçalho */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Logo */
.logo img {
    width: 90px;
}

/* Links de contato */
.contact-link {
    color: rgb(108, 108, 108);
    font-size: var(--fs-7);
}

/* ===============================
   6. Navegação
============================== */
ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

/* Links de navegação */
li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 36px;
    transition: .3s;
    opacity: 0; /* Invisíveis no início */
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni)); /* Delay */
}

/* Links ativos ou hover */
li a.active, li a:hover {
    color: var(--primary-color);
}

/* Esconde o checkbox de menu */
#click {
    display: none;
}

/* Esconde o menu inicialmente */
.menu {
    display: none;
}

/* ===============================
   7. Caixa de contato
============================== */
.contact-box {
    background: #2b2b2b;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito hover na caixa de contato */
.contact-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* ===============================
   8. Modo escuro
============================== */
.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

/* ===============================
   9. Seção principal
============================== */
.main {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}

/* Títulos na seção principal */
.main h3, .main h1 {
    color: #000;
    opacity: 0;
}

/* Título h3 */
.main h3 {
    font-size: 1.5rem;
    animation: topSideAni 1s ease forwards;
}

/* Título h1 */
.main h1 {
    font-size: 4rem;
    font-weight: 600;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

/* Texto da seção */
.main p {
    line-height: 1.7;
    font-size: 1rem;
    opacity: 0;
    animation: topSideAni 1.5s ease forwards;
}

/* Links sociais */
.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

/* Links sociais com ícones */
.social a {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: grid;
    place-items: center;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

/* Hover nos links sociais */
.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}

/* ===============================
   10. Imagens
============================== */
.images {
    margin-left: auto;
    width: 350px;
    height: 350px;
    text-align: center;
    overflow: hidden;
    background-color: var(--primary-color);
    clip-path: inset(20px round 20px);
}

/* ===============================
   11. Responsividade
============================== */

/* Para telas grandes */
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }
}

/* Para tablets */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
}

/* Para smartphones */
@media screen and (max-width: 600px) {
    body {
        height: auto;
    }

    header {
        height: auto;
    }

    ul {
        background: var(--primary-dark);
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    #click:checked ~ ul {
        left: 0%;
        transition: all 0.3s ease;
    }

    .dark-mode .menu {
        color: var(--primary-color);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }

    .images {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
    }
}

/* ===============================
   12. Modo escuro
============================== */
.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.dark-mode .logo a, .dark-mode ul li a, .dark-mode .main h3, .dark-mode .main h1 {
    color: #fff;
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}

/* ===============================
   13. Animações
============================== */

/* Animações de entrada */
@keyframes leftSideAni {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes navani {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes rightSideAni {
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes topSideAni {
    0% { transform: translateY(-100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes SocialAni {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes imageAni {
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}
